[core]
	pager = delta

[user]
	email = daniel.kjellid@gmail.com
	name = Daniel Kjellid
	signingKey = /Users/danielkjellid/.ssh/git-signing-key.pub

[init]
	defaultBranch = main

[delta]
	features = side-by-side line-numbers decorations
	syntax-theme = Dracula
[gpg]
	format = ssh
[commit]
	gpgsign = true
